
{% extends 'ShoppingBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}

{% block body %}


    {#<h4> {{dump(products)}} </h4>#}

    {% set tprice = 0 %}

        {% for product in products %}
            {% set tprice =tprice + product.product.price %}

            <header>
                <h2>  {{product.qty  }} of {{ product.product.name}}   </h2>
                <h2> {{product.product.type.name}} </h2>
                <h4> {{product.product.price}} EGP </h4>
                <h4> {{product.product.description}} </h4>

                {#% set products = product|merge({ 'qty': 'car' }) %#}

                </br></br>
                {{"----------------------------------------------"}}
            </header>

        {% endfor %}

        <h1> Total Price: {{ tprice }}</h1>

{% endblock %}
