
{% extends 'ShoppingBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}

{% block body %}

<!--<h4> {{dump(products)}} </h4>-->

{% for product in products %}

        <header>
		<h2> {{ product.name}}  </h2>

			{% if product.cart %}
			{% if product.cart.name=='order' %}
				<span> In Order </span>
			{% endif %}

			{% if product.cart.name=='wish-list' %}
				<span> In Wish-List </span>
			{% endif %}
			{% endif %}
		<h2> {{product.type.name}} </h2>
			<h4> {{product.price}} EGP </h4>
			<h4> {{product.description}} </h4>
		<a href="toOrder/{{ product.id }}" class="button">Order</a> &nbsp; &nbsp;
		<a href="toWishList/{{ product.id }}" class="button">Wish-List</a>
		</br></br>
			<a href="" class="button">update</a>
			</br>
			{{"----------------------------------------------"}}
        </header>

{% endfor %}

{% endblock %}
