
{% extends 'ShoppingBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}

{% block body %}

    <a href="emptycart" class="button">Empty Cart</a>

    <!--<h4> {{dump(products)}} </h4>-->

    {% set tprice = 0 %}

<form name="qty" action="order/chechout" method="post">

    {% for product in products %}
        {% set tprice =tprice + product.price %}

        <header>
            <h2> {{ product.name}}  </h2>
            <h2> {{product.type.name}} </h2>
            <h4> {{product.price}} EGP </h4>
            <h4> {{product.description}} </h4>

            Quantity <INPUT TYPE="NUMBER" name="{{ product.id }}" MIN="1" MAX="100" STEP="1" VALUE="1" SIZE="6">

            <a href="delete/{{ product.id }}" class="button">Remove-from-Order</a>
            </br></br>
            {{"----------------------------------------------"}}
        </header>

    {% endfor %}

    <h1> Total Price: {{ tprice }}</h1>
    </br>
    <input type="submit" name="submit" id="submit" value="Check-Out"  {% if products==null %} disabled {% endif %}>
    <!--<h2><a href="" class="button">Check-Out</a></h2>-->
    </form>

{% endblock %}
