
{% extends 'ShoppingBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}

{% block body %}

    <!--<h4> {{dump(products)}} </h4>-->

    {% for product in products %}

        <header>
            <h2> {{ product.name}}  </h2>
            <h2> {{product.type.name}} </h2>
            <h4> {{product.description}} </h4>
            <a href="deletefromwishlist/{{ product.id }}" class="button">Remove-from-wish-list</a>
            </br></br>
            {{"----------------------------------------------"}}
        </header>

    {% endfor %}

{% endblock %}
