{% extends 'ShoppingBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}

{% block body %}

    <table width="80%" border="1" align="center">
    {% for user in users %}
        <tr>
            <td>
        <h3><a href="user/{{ user.id }}"> {{ user.name }} </a></h3><br>
                </td>
            <td>
        {% if not user.path %}
             Not Approved
            {% endif %}
        </td>
</tr>
        {% endfor %}
    </table>
{% endblock %}