{% extends 'ShoppingBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    Sidebar content
{% endblock %}

{% block body %}

    <article class="blog">

    <header>
    <h1>{{ user.name }}</h1>
    </header>

        {% if user.path %}
    <img src="{{ asset(['uploads/documents/', user.path]|join) }}" class="large"/>
            <img src="{{ asset(['uploads/documents/', user.path2]|join) }}" class="large"/>

            <a href="removeimage/{{ user.id }}"> not-approved </a>

        {% else %}
            {{ form(form) }}
            {% endif %}


    </article>
{% endblock %}